<!DOCTYPE html>
<html>
<head>
    <title>WCT Test - <%= elementName %></title>
    <meta charset="utf-8" />

    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <link rel="import" href="../../custom_components/<%= elementName %>/<%= elementName %>.html" />
</head>
<body>
    <!-- Add element markup here -->
    <<%= elementName %>></<%= elementName %>>

    <!-- WCT Suite -->
    <script src="<%= elementName %>-test.js"></script>
</body>
</html>
