<!DOCTYPE html>
<html>
<head>
    <title>Page not found...</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="<%= themeColorHex %>" />

    <link rel="icon" href="/media/webassets/favicon.ico?__inline==true" />

    <!-- NOTE: Will be inlined in production to work from any directory. -->
    <link rel="stylesheet" href="stylesheets/404.css?__inline=true" />
</head>
<body>
    <div id="container">
        <div>
            <h1>Couldn't find what you were looking for...</h1>
            <p>Sorry :/</p>
        </div>
    </div>
</body>
</html>
