<!-- List of all app dependencies -->

<!--
Elements imported by load.js for use during splash-screen.

<link rel="import" href="bower_components/font-roboto/roboto.html" />
<link rel="import" href="bower_components/paper-material/paper-material.html" />
<link rel="import" href="bower_components/paper-spinner/paper-spinner.html" />
-->

<!-- ************** -->
<!-- Service Worker -->
<!-- Note: Uncomment below to enable ServiceWorker (2/3) -->
<!--
<link rel="import" href="bower_components/platinum-sw/platinum-sw-register.html" />
<link rel="import" href="bower_components/platinum-sw/platinum-sw-cache.html" />
-->

<!-- ************* -->
<!-- Splash-Screen -->
<link rel="import" href="bower_components/neon-animation/neon-animation-runner-behavior.html" />
<link rel="import" href="bower_components/neon-animation/animations/scale-down-animation.html" />
<link rel="import" href="bower_components/neon-animation/animations/slide-up-animation.html" />
<link rel="import" href="custom_components/splash-screen/splash-screen.html" />

<!-- ****** -->
<!-- Global -->
<link rel="import" href="bower_components/iron-flex-layout/classes/iron-shadow-flex-layout.html" />
<link rel="import" href="bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="custom_components/behaviors/pages.html" />

<!-- ***************** -->
<!-- Custom-Components -->
<!-- Routed-Pages-->
<link rel="import" href="bower_components/neon-animation/neon-animated-pages.html" />
<link rel="import" href="bower_components/neon-animation/animations/fade-in-animation.html" />
<link rel="import" href="bower_components/neon-animation/animations/fade-out-animation.html" />
<link rel="import" href="custom_components/routed-pages/routed-pages.html" />

<!-- Fancy-Material -->
<link rel="import" href="custom_components/fancy-material/fancy-material.html" />

<!-- Main-Screen -->
<link rel="import" href="bower_components/iron-selector/iron-selector.html" />
<link rel="import" href="bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html" />
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html" />
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="bower_components/paper-item/paper-item.html" />
<link rel="import" href="bower_components/paper-ripple/paper-ripple.html" />
<link rel="import" href="custom_components/main-screen/main-screen.html" />
