@import '../../stylesheets/scss/_layout.scss';
@import '../../stylesheets/scss/_mixins.scss';
@import '../../stylesheets/scss/_theme.scss';

:host {
    display: block;
}

neon-animated-pages {
    overflow-y: scroll;

    & > * {
        top: initial;
        bottom: initial;
        height: auto;
    }
}
