<link rel="import" href="../../bower_components/polymer/polymer.html" />

<!--
Include dependencies within the elements.html.
For quick inspection, note the element's dependencies here.
************************************************************

************************************************************
-->

<dom-module id="<%= elementName %>">
    <link rel="import" type="css" href="<%= elementName %>.css?__inline" />
    <template></template>
    <script src="<%= elementName %>.js?__inline"></script>
</dom-module>
